            <ul class="menu_item" id="nav_explore_menu">              <li class="explore menu_item"><a class="button" href="/" id="autogen_id_for_tracking_nav_home_clicked_1" title="<%= t('header.explore_menu.home') %>"><span translate="yes"><%= t('header.explore_menu.home') %></span></a></li>
              <li class="find_a_couch menu_item"><a class="button" href="/n/surfing" id="autogen_id_for_tracking_nav_trips_clicked_1" title="<%= t('header.explore_menu.surf') %>"><span translate="yes"><%= t('header.explore_menu.surf') %></span></a></li>
              <li class="host_a_traveler menu_item"><a class="button" href="/n/hosting" id="autogen_id_for_tracking_nav_host_clicked_1" title="<%= t('header.explore_menu.host') %>"><span translate="yes"><%= t('header.explore_menu.host') %></span></a></li>
              <li class="global_events menu_item"><a class="button" href="/n/events" id="autogen_id_for_tracking_nav_events_clicked_1" title="<%= t('header.explore_menu.events') %>"><span translate="yes"><%= t('header.explore_menu.events') %></span></a></li>
              <li class="discuss menu_item"><a class="button" href="/groups" id="autogen_id_for_tracking_nav_groups_clicked_1" title="<%= t('header.explore_menu.discuss') %>"><span translate="yes"><%= t('header.explore_menu.discuss') %></span></a></li>
              <li class="help menu_item"><a class="button" href="/n/help" id="autogen_id_for_tracking_nav_help_clicked_1" title="<%= t('header.explore_menu.help') %>"><span translate="yes"><%= t('header.explore_menu.help') %></span></a></li>
            </ul>
          </div>
