    <li class="thread media" data-commented-on-type="place" data-creator-id="<%= comment.creator_id %>" data-entity-id="<%= comment.entity_id %>" data-thread-slug="<%= comment.slug.html_safe %>" data-total-replies="<%= comment.total_replies %>"><a class="avatar_link" href="<%= comment.creator_profile_link.html_safe %>"><span class="pull-left avatar md_circle imgsize_large_thumb" style="background-image:url(<%= cdn(comment.creator_profile_image.html_safe) %>);"></span></a>
      <div class="media-body">
        <div><a href="<%= comment.creator_profile_link.html_safe %>"></a>
          <div class="comment-text">
            <div class="comment-header row-fluid">              <div class="span12">
                <h4><a href="/n/threads/<%= comment.slug.html_safe %>" class="reply-title"><%= comment.thread_title %></a>
                  <div class="comment-details">
                    <time data-component="timestamp" data-original-timestamp="<%= comment.created_at.iso8601 %>" datetime="<%= comment.created_at.iso8601 %>"></time>
                  </div>
                </h4>
                <span><a class="reply-creator" href="<%= comment.creator_profile_link.html_safe %>">
                  <%= comment.creator_name %></a></span><span>
                  <a href="/send_message.html?id=<%= comment.creator_profile_encoded_id %>" id="autogen_id_for_tracking_place_conversations_send_private_message_1" style="float: left; margin: 0 0.5em; color: #8B8B8B">
                    <% cdn_img = cdn("/assets/private_message-123bd0b0aee5c2e2a97dab4360915ad5.png") %>
                    <img alt="Private_message" src="<%= cdn_img %>" />
                  </a></span></div>
            </div>
            <div class="row-fluid">
              <div class="span11">
                <div class="comment-body-text">
                  <div class="more-link"><span class="shortened-text"><%= comment.short_text %></span>&nbsp;<a class="show-more-link"><%= t('comment.more') %></a><span class="on-show-only"><%= comment.more_text %><a class="show-less-link"><%= t('comment.less') %></a></div>
                </div>
                <div class="thread-reply-view">
                  <div class="thread_participants hidden"><span class="show-reply-count"><a class="reveal-comments" rel="11605597"><%= t('comment.show_replies') %></a></span>
                    <% comment.replies[0..9].each do |reply| %>
                    <a class="avatar_link" href="<%= reply.profile_link.html_safe %>"><span class="avatar sm_circle imgsize_small_thumb" style="background-image:url(<%= cdn(reply.profile_image) %>);"></span></a>
                    <% end %>

                  <span class="last_replied_at"><%= t('comment.latest_reply') %>
                      <time data-component="timestamp" datetime="<%= comment.replies[-1].created_at.iso8601 %>"></time>
                    </span></div>

                  <div class="replies-and-form inline">
                    <div class="reply-container">
                      <div class="paginate_replies hidden"><a class="see-more-replies"><%= t('comment.show_more', :num => comment.replies.length) %></a></div>
                      <div class="replies" id="comments_on_<%= comment.random_id %>">
                        <%= render :partial => "#{@partial_base}/comment_reply", :collection => comment.replies %>
                      </div>
                    </div>
                    <div class="media thread-form-container reply-thread"><span class="thread-author pull-left avatar circle imgsize_small_thumb" style="background-image:url(<%= cdn(comment.creator_profile_image) %>);"></span>
                      <div class="media-body">
                        <form action="/n/threads/<%= comment.slug.html_safe %>/replies" class="thread-reply-form" method="post"><input name="parent_id" type="hidden" value="<%= comment.id %>" />
                          <div class="control-group">
                            <label></label>
                            <div class="controls"><textarea class="comment_text" name="comment_text" placeholder="Write a reply"></textarea></div>
                            <p class="help-block"></p>
                          </div>
                          <p class="privacy-warning"><%= t('comment.privacy_warning') %></p>
                          <div class="hide-when-colapsed row-fluid">
                            <div class="row-fluid">
                              <div class="privacy-settings dropdown" data-component="privacySettings"><input name="private_thread" type="hidden" value="true" /><a class="dropdown-toggle" data-component="dropdown" href=""><span class="privacy-label"></span><i class="icon-group"></i></a>
                                <ul class="dropdown-menu pull-right" data-component="options">
                                  <li><a data-component="privacyOption" data-value="false" href=""><i class="icon-group"></i><%= t('comment.public') %></a></li>
                                  <li><a data-component="privacyOption" data-value="true" href=""><i class="icon-user"></i><%= t('comment.private') %></a></li>
                                </ul>
                              </div>
                              <div class="span6"></div>
                              <div class="buttons span5 pull-right">                                <div class="ajax_loading_container"></div>
                                <button class="btn btn-cancel" type="button"><%= t('buttons.cancel') %></button>&nbsp;<button class="btn btn-primary btn-create"><%= t('comment.post_reply') %></button><br />
                                <br />
                              </div>
                            </div>
                            <div class="row-fluid">
                              <div class="form-footer span12">
                                <div class="posting-guidelines">
                                  <h4><%= t('comment.posting_guidelines.header') %></h4>
                                  <ul>
                                    <li><%= t('comment.posting_guidelines.l1') %></li>
                                    <li><%= t('comment.posting_guidelines.l2') %></li>
                                    <li><%= t('comment.posting_guidelines.l3', :href => '/n/safety').html_safe %></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="span1">
                <div class="comment-context-menu dropdown pull-right" data-component="contextMenu" data-entity_id="<%= comment.id %>" data-entity_type="comment"><a class="dropdown-toggle" data-component="dropdown" href=""><span class="icon-flyout icon-large"></span></a>
                  <ul class="dropdown-menu pull-right" data-component="options">
                    <li><a class="share get_link" href="/n/threads/<%= comment.slug.html_safe %>" target="_blank"><i class="icon-mail"></i><%= t('comment.get_link') %></a></li>
                    <li class="divider"></li>
                    <li data-visible-to="creator"><a class="edit-comment" href=""><i class="icon-pen"></i><%= t('comment.edit_this_post') %></a></li>
                    <li data-visible-to="creator"><a class="delete-comment" href=""><i class="icon-close"></i><%= t('comment.delete_this_post') %></a></li>
                    <li data-visible-to="non-creator"><a class="report-trigger" href=""><i class="icon-caution"></i><%= t('comment.flag_this_post') %></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
