                        <div class="reply hidden media" data-commented-on-type="place" data-creator-id="<%= comment_reply.creator_id %>" data-entity-id="<%= comment_reply.id %>" data-thread-slug="<%= comment_reply.slug %>"><a class="avatar_link" href="<%= comment_reply.profile_link.html_safe %>"><span class="pull-left avatar md_circle imgsize_large_thumb" style="background-image:url(<%= cdn(comment_reply.profile_image).html_safe %>);"></span></a>
                          <div class="media-body">
                            <div><a href="<%= comment_reply.profile_link.html_safe %>"></a>
                              <div class="comment-text">
                                <div class="comment-header row-fluid">                                  <div class="span12"><span><a class="reply-creator" href="<%= comment_reply.profile_link.html_safe %>"><%= comment_reply.creator_name %></a></span><span><a href="/send_message.html?id=<%= comment_reply.creator_profile_encoded_id %>" id="autogen_id_for_tracking_place_conversations_send_private_message_2" style="float: left; margin: 0 0.5em; color: #8B8B8B"><img alt="Private_message" src="<%= cdn("/assets/private_message-123bd0b0aee5c2e2a97dab4360915ad5.png") %>" /></a></span>
                                    <div class="comment-details">
                                      <time data-component="timestamp" data-original-timestamp="<%= comment_reply.created_at.iso8601 %>" datetime="<%= comment_reply.created_at.iso8601 %>"></time>
                                    </div>
                                  </div>
                                </div>
                                <div class="row-fluid">                                  <div class="span11">
                                    <div class="comment-body-text"><%= comment_reply.text %><br />
 <span class="user-links"><a href="https://t.co/abcdefg" target='_blank' >https://t.co/abcdefg</a></span></div>
                                  </div>
                                  <div class="span1">
                                    <div class="comment-context-menu dropdown pull-right" data-component="contextMenu" data-entity_id="<%= comment_reply.id %>" data-entity_type="comment"><a class="dropdown-toggle" data-component="dropdown" href=""><span class="icon-flyout icon-large"></span></a>
                                      <ul class="dropdown-menu pull-right" data-component="options">
                                        <li><a class="share get_link" href="/n/threads/<%= comment_reply.slug %>" target="_blank"><i class="icon-mail"></i>Get link</a></li>
                                        <li class="divider"></li>
                                        <li data-visible-to="creator"><a class="edit-comment" href=""><i class="icon-pen"></i>Edit This Post</a></li>
                                        <li data-visible-to="creator"><a class="delete-comment" href=""><i class="icon-close"></i>Delete This Post</a></li>
                                        <li data-visible-to="non-creator"><a class="report-trigger" href=""><i class="icon-caution"></i>Flag This Post</a></li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
