      <footer id="main-footer">
        <%= render :partial => "#{@partial_base}/language_selector", :locals => { :languages => languages } %>
        <%= render :partial => "#{@partial_base}/social_container", :locals => { :social_links => social_links } %>
        <nav class="site_map">
          <% site_map.each do |heading, values| %>
            <div class="<%= heading.gsub(/\s+/, '').downcase %>">
              <div class="heading"><%= heading %></div>
              <ul class="links">
                <% values.each do |title, link| %>
                  <li><a href="<%= link.html_safe %>"><%= title %></a></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </nav>
        <div class="copyright"><%= t('footer.copyright_notice') %></div>
      </footer>
