<div class="featured_person">                    <div class="media"><a class="pull-left square avatar" href="/profile.html?city_couchrequest=<%= surfer.city_couchrequest_id %>&amp;id=<%= surfer.profile_encoded_id %>" id="autogen_id_for_tracking_place_ocrs_clicked_ocr_1"><span class="media-object avatar imgsize_compact_thumb" style="background-image:url(<%= cdn(surfer.profile_image.html_safe) %>);">
<% if surfer.verified? %>
    <span class="verified"><img src="/assets/verification-badge-8a2bb1613424ebe4344fed87c342ce6e.png" /></span>
<% end %>
</span></a>
                      <div class="media-body">
                        <h4><a href="/profile.html?city_couchrequest=<%= surfer.city_couchrequest_id %>&amp;id=<%= surfer.profile_encoded_id %>"><%= surfer.name %></a></h4>
                        <p class="city"><%= surfer.city %></p>
                        <p class="meta"><%= surfer.age %>, <%= surfer.gender %></p>
                        <p class="meta"><%= surfer.reference_count %> references</p>
                      </div>
                    </div>
                  </div>
