
<!DOCTYPE html>
<html class="no-js root-places page-places action-show page-places-show root-places page-places action-show" data-logged-in="<%= @user.id %>" data-user-main-image="<%= cdn(@user.profile_image) %>">
  <%= render :partial => "#{@partial_base}/header" %>
  <body>
    <div id="viewport">
      <%= render :partial => "#{@partial_base}/nav" %>
      <div class="main-container-wrapper" id="main-content">
        <%= render :partial => "#{@partial_base}/place_subnav" %>
        <%= render :partial => "#{@partial_base}/place_avatar_header" %>
        <section class="main-content container">
          <%= render :partial => "#{@partial_base}/featured_events" %>
            <div class="row-fluid">
              <%= render :partial => "#{@partial_base}/conversations" %>
</div>
            </div>
            <div class="span4">
              <div class="row-fluid" id="sidebar">
                <%= render :partial => "#{@partial_base}/events" %>
                <div class="well big_groups_btn"><a class="link_button button" href="/n/o/groups" title="All Groups">All Groups</a></div>
                <%= render :partial => "#{@partial_base}/surfers" %>
                <%= render :partial => "#{@partial_base}/related_groups" %>
                <div class="well big_groups_btn"><a class="link_button button" href="/n/locals/in/place/13" id="autogen_id_for_tracking_place_sidebar_meet_people_button_clicked_1" title="Meet People">Meet People</a></div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer id="main-footer">
        <div class="hidden-menu" id="language_selector_container">
          <div class="menu" id="language_selector_menu">
            <div class="language_selector_columns_container">
              <div class="column"><a class="language" data-locale="de_DE">Deutsch</a><a class="language selected" data-locale="en_US">English</a><a class="language" data-locale="es_ES">Español</a><a class="language" data-locale="fr_FR">Français</a><a class="language" data-locale="it_IT">Italiano</a><a class="language" data-locale="ja_JP">日本語</a></div>
              <div class="column"><a class="language" data-locale="ko_KR">한국어</a><a class="language" data-locale="pl_PL">Polski</a><a class="language" data-locale="pt_BR">Português brasileiro</a><a class="language" data-locale="ru_RU">Русский</a><a class="language" data-locale="tr_TR">Türkçe</a><a class="language" data-locale="zh_CN">中文 (简化字)</a></div>
            </div>
            <a class="menu-close" href="#brand">close</a></div>
          <a class="trigger" href="#language_selector_menu" id="language_selector_button">English</a></div>
        <nav class="social_container">
          <div class="call-to-action">Connect with us:</div>
          <ul class="social">
            <li><a class="icon_button button twitter" href="http://twitter.com/couchsurfing" target="_blank" title="Twitter">Twitter</a></li>
            <li><a class="icon_button button facebook" href="http://facebook.com/couchsurfing" target="_blank" title="Facebook">Facebook</a></li>
            <li><a class="icon_button button google" href="https://plus.google.com/102186173500819286170" target="_blank" title="Google">Google</a></li>
            <li><a class="icon_button button youtube" href="http://www.youtube.com/user/thisiscouchsurfing" target="_blank" title="You Tube">You Tube</a></li>
            <li><a class="icon_button button tumblr" href="http://couchsurfing.tumblr.com/" target="_blank" title="Tumblr">Tumblr</a></li>
            <li><a class="icon_button button instagram" href="http://instagram.com/couchsurfing" target="_blank" title="Instagram">Instagram</a></li>
          </ul>
        </nav>
        <nav class="site_map">          <div class="about">            <div class="heading">About</div>
            <ul class="links">
              <li><a href="/n/about">About Us</a></li>
              <li><a href="/n/team">Team</a></li>
              <li><a href="/n/jobs">Jobs</a></li>
              <li><a href="/n/press">Press</a></li>
              <li><a href="/n/news" target="_blank">Blog</a></li>
            </ul>
          </div>
          <div class="getting-started">            <div class="heading">Getting Started</div>
            <ul class="links">
              <li><a href="/n/how-it-works">How It Works</a></li>
              <li><a href="/n/mobile">Mobile</a></li>
            </ul>
          </div>
          <div class="safety">            <div class="heading">Safety</div>
            <ul class="links">
              <li><a href="/n/safety">Basics</a></li>
              <li><a href="/n/safety_tips">Tips</a></li>
              <li><a href="/n/safety_faq">FAQ</a></li>
            </ul>
          </div>
          <div class="community">            <div class="heading">Community</div>
            <ul class="links">
              <li><a href="/n/values">Our Values</a></li>
              <li><a href="/n/ambassadors">Ambassador Program</a></li>
              <li><a href="/n/stories" target="_blank">Stories</a></li>
            </ul>
          </div>
          <div class="support">            <div class="heading">Support</div>
            <ul class="links">
              <li><a href="/n/help" target="_blank">Help</a></li>
              <li><a href="/n/terms">Terms of Use</a></li>
              <li><a href="/n/privacy">Privacy Policy</a></li>
              <li><a href="/n/guidelines">Community Guidelines</a></li>
              <li><a href="/n/trademark">Trademark Policy</a></li>
            </ul>
          </div>
        </nav>
        <div class="copyright">&copy; 1999 - 2014&nbsp;&nbsp;&nbsp;&nbsp;Couchsurfing International, Inc. A socially responsible, Certified B Corporation</div>
      </footer>
      <div id="hidden-content">
        <div class="modal_window hide fade event_modal_container new_event_form" data-backdrop="static" data-keyboard="false" id="event_form_modal" title="i18n_events_add_new">
          <header class="modal_header">
            <h3 class="modal_title clearfix"><span class="title_text">i18n_events_add_new</span><a class="modal_close" data-dismiss="modal" href="#">Cancel</a></h3>
          </header>
          <div class="modal_body">
            <form class="event_form" enctype="multipart/form-data">
              <fieldset class="modal_page" data-modal_title="Create an Event"><input class="event_id" name="slug" type="hidden" />
                <div><input class="title" name="title" placeholder="Event Title" type="text" /></div>
                <div><input class="location_string_as_entered_by_user" name="location_string_as_entered_by_user" placeholder="Location" type="text" /></div>
                <div class="found_location" style="display: none">
                  <label>We found:</label>
                  <span></span>                  <label class="note">To specify an exact location, click and drag the marker on the map</label>
                </div>
                <input class="normalized_location_string" name="normalized_location_string" type="hidden" />
                <div class="map_preview">
                  <div data-lat="" data-long="" id="event_map_preview"></div>
                  <div class="map_placeholder hide"><img src="https://d20rrv4k3o7n66.cloudfront.net/assets/choose_location-cfd29dd4b26ef631dbf29a47fdfa89c5.jpeg" /></div>
                </div>
                <input class="lat" name="latitude" type="hidden" /><input class="lng" name="longitude" type="hidden" /><input class="customized_coordinate" name="customized_coordinate" type="hidden" /><input checked="checked" class="public_event" name="private" type="radio" value="0" /><span class="public_selected">Public Event</span><input class="invite_only" name="private" type="radio" value="1" /><span class="private_selected">Invite Only Event</span>                <div class="allow_guest_invite"><input id="allow_guest_invite" name="allow_guest_invite" type="checkbox" value="1" />
                  <label for="allow_guest_invite">Allow guests to invite others</label>
                </div>
              </fieldset>
              <fieldset class="modal_page" data-modal_title="Add Time &amp; Date">
                <div class="timeselector">
                  <label for="start_day">Starts on:</label>
                  <input id="start_day" name="start_day" type="hidden" /><input class="start_day_picker" type="text" /></div>
                <div class="hour_selector">
                  <div id="time_error"></div>
                  <label for="start_hour_select">From:</label>
                  <select class="start_hour" id="start_hour_select" name="start_hour">
                    <option value="0">12:00 AM</option>
                    <option value="1800">12:30 AM</option>
                    <option value="3600"> 1:00 AM</option>
                    <option value="5400"> 1:30 AM</option>
                    <option value="7200"> 2:00 AM</option>
                    <option value="9000"> 2:30 AM</option>
                    <option value="10800"> 3:00 AM</option>
                    <option value="12600"> 3:30 AM</option>
                    <option value="14400"> 4:00 AM</option>
                    <option value="16200"> 4:30 AM</option>
                    <option value="18000"> 5:00 AM</option>
                    <option value="19800"> 5:30 AM</option>
                    <option value="21600"> 6:00 AM</option>
                    <option value="23400"> 6:30 AM</option>
                    <option value="25200"> 7:00 AM</option>
                    <option value="27000"> 7:30 AM</option>
                    <option value="28800"> 8:00 AM</option>
                    <option value="30600"> 8:30 AM</option>
                    <option value="32400"> 9:00 AM</option>
                    <option value="34200"> 9:30 AM</option>
                    <option value="36000">10:00 AM</option>
                    <option value="37800">10:30 AM</option>
                    <option value="39600">11:00 AM</option>
                    <option value="41400">11:30 AM</option>
                    <option value="43200">12:00 PM</option>
                    <option value="45000">12:30 PM</option>
                    <option value="46800"> 1:00 PM</option>
                    <option value="48600"> 1:30 PM</option>
                    <option value="50400"> 2:00 PM</option>
                    <option value="52200"> 2:30 PM</option>
                    <option value="54000"> 3:00 PM</option>
                    <option value="55800"> 3:30 PM</option>
                    <option value="57600"> 4:00 PM</option>
                    <option value="59400"> 4:30 PM</option>
                    <option value="61200"> 5:00 PM</option>
                    <option value="63000"> 5:30 PM</option>
                    <option value="64800"> 6:00 PM</option>
                    <option value="66600"> 6:30 PM</option>
                    <option value="68400"> 7:00 PM</option>
                    <option value="70200"> 7:30 PM</option>
                    <option value="72000"> 8:00 PM</option>
                    <option value="73800"> 8:30 PM</option>
                    <option value="75600"> 9:00 PM</option>
                    <option value="77400"> 9:30 PM</option>
                    <option value="79200">10:00 PM</option>
                    <option value="81000">10:30 PM</option>
                    <option value="82800">11:00 PM</option>
                    <option value="84600">11:30 PM</option>
                  </select>
                  <label class="label_end_hour" for="end_hour_select">to</label>
                  <select class="end_hour" id="end_hour_select" name="end_hour">
                    <option value="0">12:00 AM</option>
                    <option value="1800">12:30 AM</option>
                    <option value="3600"> 1:00 AM</option>
                    <option value="5400"> 1:30 AM</option>
                    <option value="7200"> 2:00 AM</option>
                    <option value="9000"> 2:30 AM</option>
                    <option value="10800"> 3:00 AM</option>
                    <option value="12600"> 3:30 AM</option>
                    <option value="14400"> 4:00 AM</option>
                    <option value="16200"> 4:30 AM</option>
                    <option value="18000"> 5:00 AM</option>
                    <option value="19800"> 5:30 AM</option>
                    <option value="21600"> 6:00 AM</option>
                    <option value="23400"> 6:30 AM</option>
                    <option value="25200"> 7:00 AM</option>
                    <option value="27000"> 7:30 AM</option>
                    <option value="28800"> 8:00 AM</option>
                    <option value="30600"> 8:30 AM</option>
                    <option value="32400"> 9:00 AM</option>
                    <option value="34200"> 9:30 AM</option>
                    <option value="36000">10:00 AM</option>
                    <option value="37800">10:30 AM</option>
                    <option value="39600">11:00 AM</option>
                    <option value="41400">11:30 AM</option>
                    <option value="43200">12:00 PM</option>
                    <option value="45000">12:30 PM</option>
                    <option value="46800"> 1:00 PM</option>
                    <option value="48600"> 1:30 PM</option>
                    <option value="50400"> 2:00 PM</option>
                    <option value="52200"> 2:30 PM</option>
                    <option value="54000"> 3:00 PM</option>
                    <option value="55800"> 3:30 PM</option>
                    <option value="57600"> 4:00 PM</option>
                    <option value="59400"> 4:30 PM</option>
                    <option value="61200"> 5:00 PM</option>
                    <option value="63000"> 5:30 PM</option>
                    <option value="64800"> 6:00 PM</option>
                    <option value="66600"> 6:30 PM</option>
                    <option value="68400"> 7:00 PM</option>
                    <option value="70200"> 7:30 PM</option>
                    <option value="72000"> 8:00 PM</option>
                    <option value="73800"> 8:30 PM</option>
                    <option value="75600"> 9:00 PM</option>
                    <option value="77400"> 9:30 PM</option>
                    <option value="79200">10:00 PM</option>
                    <option value="81000">10:30 PM</option>
                    <option value="82800">11:00 PM</option>
                    <option value="84600">11:30 PM</option>
                  </select><span class="ends_next_day hide">the next day</span></div>
                <p class="duration"></p>
              </fieldset>
              <fieldset class="modal_page" data-modal_title="Optional Extras">
                <div class="image_and_desc">
                  <div class="add_photo_container">
                    <div class="event_photo"></div>
                    <div class="btn remove_photo_btn event_photo_btn"><span class="event_photo_btn_text">Remove</span></div>
                    <div class="btn add_photo_btn event_photo_btn"><span class="event_photo_btn_text">Add Photo</span><input class="file" name="images[]" type="file" /><input class="remove_photo" name="remove_photo" type="hidden" /></div>
                    <div class="aspect_ratio"></div>
                  </div>
                  <textarea class="description" name="description" placeholder="Optional description : any cost or purchase, directions, etc."></textarea></div>
                <div class="max_guests_container"><input class="guest_limit" id="max_guests_enabled" name="max_guests_enabled" type="checkbox" />
                  <label class="max_guests_label" for="max_guests_enabled">Limit number of guests</label>
                  <input class="hide max_guests maximum_guests_allowed" maxlength="4" name="maximum_guests_allowed" type="text" /></div>
                <div class="organizers_container">                  <div class="row_label"><input class="enable_multi_organizer" id="enable_multi_organizer" type="checkbox" />
                    <label for="enable_multi_organizer">Invite an additional organizer</label>
                  </div>
                  <div class="add_organizers">
                    <h3>Invite another organizer to this event.</h3>
                    <p>Note: All organizers will have the same privileges that you have.</p>
                    <div class="search_organizers"><input class="search_string" name="search_string" placeholder="Search by name or username" type="text" /><a class="primary_action_button button submit_search disabled_until_load" href="#" id="search_for_organizers_button" title="Search">Search</a>
                      <script type="text/javascript">
// <![CDATA[
  (function () {
    var button = $("#search_for_organizers_button");
    button.on("click", function (e) { e.preventDefault(); });
    $.subscribe("jsload", function () {
      button.removeClass("disabled_until_load");
    });
  })();
// ]]>
                      </script>

</div>
                    <div class="select_organizers clearfix"></div>
                    <h3>Organizers</h3>
                    <div class="selected_organizers clearfix">                      <div class="selectable_user_container" data-id="3287398">                        <div class="input_container"><input checked="checked" id="selected_organizers_ids_3287398" name="selected_organizers_ids[]" type="checkbox" value="3287398" /></div>
                        <span class="pull-left avatar sm_circle imgsize_compact_thumb" style="background-image:url(https://d20rrv4k3o7n66.cloudfront.net/n/image/main_image/1/3287398/1389477462/C-30-30?default=true&amp;sh=U5JSWSsaz3aT0WbCuMOa5g);"></span>                        <div class="meta_container">
                          <label for="selected_organizers_ids_3287398">                            <p class="username">Andrew Geweke</p>
                          </label>
                          <p class="location">San Francisco</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <footer class="modal_footer">            <div class="ajax_loading_container"></div>
            <a class="action_button button prev_page disabled_until_load" href="#" id="73cf55f0f71f06a51d5ff1b5a66ca1cf8201ffc5" title="Back">Back</a>
            <script type="text/javascript">
// <![CDATA[
  (function () {
    var button = $("#73cf55f0f71f06a51d5ff1b5a66ca1cf8201ffc5");
    button.on("click", function (e) { e.preventDefault(); });
    $.subscribe("jsload", function () {
      button.removeClass("disabled_until_load");
    });
  })();
// ]]>
            </script>

<a class="primary_action_button button submit_btn new_submit_btn disabled_until_load" href="#" id="7f1998f6b3b3f70801ebb84a23493e5b900fdf37" title="Save Event">Save Event</a>
            <script type="text/javascript">
// <![CDATA[
  (function () {
    var button = $("#7f1998f6b3b3f70801ebb84a23493e5b900fdf37");
    button.on("click", function (e) { e.preventDefault(); });
    $.subscribe("jsload", function () {
      button.removeClass("disabled_until_load");
    });
  })();
// ]]>
            </script>

<a class="primary_action_button button next_page disabled_until_load" href="#" id="a61726a26c5837d2081a322e322d6bbeeef98142" title="Next">Next</a>
            <script type="text/javascript">
// <![CDATA[
  (function () {
    var button = $("#a61726a26c5837d2081a322e322d6bbeeef98142");
    button.on("click", function (e) { e.preventDefault(); });
    $.subscribe("jsload", function () {
      button.removeClass("disabled_until_load");
    });
  })();
// ]]>
            </script>

</footer>
        </div>
        <div class="modal_window hide fade other_events_modal past_events_modal" id="past_events_modal" title="Past Events">
          <header class="modal_header">
            <h3 class="modal_title clearfix"><span class="title_text">Past Events</span><a class="modal_close" data-dismiss="modal" href="#">Cancel</a></h3>
          </header>
          <div class="modal_body"><img class="ajax_loading" src="/assets/loading_loop.gif" /></div>
          <footer class="modal_footer">&#160;</footer>
        </div>
        <div class="modal_window hide fade" id="alert_modal">          <header class="modal_header"><a class="modal_close" data-dismiss="modal" href="#">Cancel</a></header>
          <div class="modal_body"></div>
        </div>
      </div>
    </div>
    <div id="preloaded_ajax_loading_container">
      <div class="ajax_loading_loop"></div>
      <a class="action_button button loading" href="#"></a></div>
    <script>if(typeof CSDataTransfer==='undefined'){ CSDataTransfer = {}; } CSDataTransfer._place = {"id":13,"path":"/n/places/san-francisco-california-united-states"};</script>
    <script>if(typeof CSDataTransfer==='undefined'){ CSDataTransfer = {}; } CSDataTransfer._currentUser = {"loggedIn":true,"siteLocale":"en_US","defaultMainImage":"https://d20rrv4k3o7n66.cloudfront.net/n/image/serve/P/3/C-60-60?sh=aSWzKD3rV9tx7Sgcls-NJQ","uncompletedTasksTotal":0,"id":3287398,"mainImage":"https://d20rrv4k3o7n66.cloudfront.net/n/image/main_image/1/3287398/1389477462/C-60-60?default=true&sh=cDC5YUsZOQLnQnLQ39ahyA","homePlace":{"id":13,"bounds":{"north":38.134705869495,"south":37.397699228207,"east":-121.966992743653,"west":-123.028393432128}},"livePlaceSlug":"san-francisco-california-united-states","identityVerified":false,"html5Position":{"coords":{"latitude":37.8157899,"longitude":-122.2442352},"place":{"id":13,"path":"/n/places/san-francisco-california-united-states"},"timestamp":1389477469107},"slug":"MIDLANDS","html5GeolocationPermission":"yes","html5Position":{"coords":{"latitude":37.8157899,"longitude":-122.2442352},"place":{"id":13,"path":"/n/places/san-francisco-california-united-states"},"timestamp":1389477469107}};</script>
    <script src="https://d20rrv4k3o7n66.cloudfront.net/assets/old_site-ad61f0931eedf7dae3548eea9ab2715c.js" type="text/javascript"></script>
    <script type="text/javascript">
// <![CDATA[
$(document).ready(function() {
  CS.Tracking.addGlobalTrackingProperties({"distinct_id":"cstrk:user-v1:3287398","referring_page":"dashboard#index","current_page":"places#show","unique_browser_id":"5202000A8DABBF50852D3C0402F91B03","unique_browser_id_source":"uid_got","user_verification_status":"not_verified","user_couch_status":"no","user_has_profile_photo":true,"user_facebook_connected":true,"user_age":44,"user_sex":"male","user_live_location_full":"San Francisco, California, United States","user_live_city":"San Francisco","user_live_state":"California","user_live_country":"United States","user_live_latitude":"37.7749295","user_live_longitude":"-122.4194155","user_joined_date":"2011-09-13T15:01:56Z"});
CS.Tracking.trackClicks("#autogen_id_for_tracking_nav_logo_clicked_1", "nav_logo_clicked", {});
CS.Tracking.trackClicks("#autogen_id_for_tracking_nav_profile_clicked_1", "nav_profile_clicked", {});
CS.Tracking.trackClicks("#autogen_id_for_tracking_nav_account_settings_clicked_1", "nav_account_settings_clicked", {});
CS.Tracking.trackClicks("#autogen_id_for_tracking_nav_place_page_clicked_1", "nav_place_page_clicked", {});
CS.Tracking.trackClicks("#autogen_id_for_tracking_nav_log_out_clicked_1", "nav_log_out_clicked", {});
CS.Tracking.trackClicks("#autogen_id_for_tracking_nav_couchrequests_clicked_1", "nav_couchrequests_clicked", {"unread_couchrequest_count":0});
CS.Tracking.trackClicks("#autogen_id_for_tracking_nav_messages_clicked_1", "nav_messages_clicked", {"unread_message_count":24});
CS.Tracking.trackClicks("#autogen_id_for_tracking_nav_home_clicked_1", "nav_home_clicked", {});
CS.Tracking.trackClicks("#autogen_id_for_tracking_nav_trips_clicked_1", "nav_trips_clicked", {});
CS.Tracking.trackClicks("#autogen_id_for_tracking_nav_host_clicked_1", "nav_host_clicked", {});
CS.Tracking.trackClicks("#autogen_id_for_tracking_nav_events_clicked_1", "nav_events_clicked", {});
CS.Tracking.trackClicks("#autogen_id_for_tracking_nav_groups_clicked_1", "nav_groups_clicked", {});
CS.Tracking.trackClicks("#autogen_id_for_tracking_nav_help_clicked_1", "nav_help_clicked", {});
CS.Tracking.trackClicks("#autogen_id_for_tracking_place_ocrs_clicked_ocr_1", "place_ocrs_clicked_ocr", {"clicked_user_verification_status":"verified","clicked_user_couch_status":"no","clicked_user_has_profile_photo":true,"clicked_user_facebook_connected":true,"clicked_user_age":35,"clicked_user_sex":"male","clicked_user_live_location_full":"Sao Paulo, S\u00e3o Paulo, Brazil","clicked_user_live_city":"Sao Paulo","clicked_user_live_state":"S\u00e3o Paulo","clicked_user_live_country":"Brazil","clicked_user_live_latitude":"-23.5489433","clicked_user_live_longitude":"-46.6388182","clicked_user_joined_date":"2006-11-25T05:57:52Z","display_sequence":1,"target":"link"});
CS.Tracking.trackClicks("#autogen_id_for_tracking_place_ocrs_clicked_ocr_2", "place_ocrs_clicked_ocr", {"clicked_user_verification_status":"not_verified","clicked_user_couch_status":"no","clicked_user_facebook_connected":false,"clicked_user_age":37,"clicked_user_sex":"female","clicked_user_live_location_full":"Marseille, Provence-Alpes-C\u00f4te d'Azur, France","clicked_user_live_city":"Marseille","clicked_user_live_state":"Provence-Alpes-C\u00f4te d'Azur","clicked_user_live_country":"France","clicked_user_live_latitude":"43.296482","clicked_user_live_longitude":"5.36978","clicked_user_joined_date":"2013-07-02T16:52:52Z","display_sequence":2,"target":"link"});
CS.Tracking.trackClicks("#autogen_id_for_tracking_place_ocrs_clicked_ocr_3", "place_ocrs_clicked_ocr", {"clicked_user_verification_status":"not_verified","clicked_user_couch_status":"maybe","clicked_user_has_profile_photo":true,"clicked_user_facebook_connected":true,"clicked_user_age":20,"clicked_user_sex":"female","clicked_user_live_location_full":"Gold Coast, Queensland, Australia","clicked_user_live_city":"Gold Coast","clicked_user_live_state":"Queensland","clicked_user_live_country":"Australia","clicked_user_live_latitude":"-28.0172605","clicked_user_live_longitude":"153.4256987","clicked_user_joined_date":"2012-10-03T13:56:56Z","display_sequence":3,"target":"link"});
CS.Tracking.trackClicks("#autogen_id_for_tracking_place_ocrs_clicked_ocr_4", "place_ocrs_clicked_ocr", {"clicked_user_verification_status":"not_verified","clicked_user_couch_status":"yes","clicked_user_has_profile_photo":true,"clicked_user_facebook_connected":true,"clicked_user_age":21,"clicked_user_sex":"male","clicked_user_live_location_full":"Gravata\u00ed, Rio Grande do Sul, Brazil","clicked_user_live_city":"Gravata\u00ed","clicked_user_live_state":"Rio Grande do Sul","clicked_user_live_country":"Brazil","clicked_user_live_latitude":"-29.9357237","clicked_user_live_longitude":"-51.0165907","clicked_user_joined_date":"2012-10-18T15:05:40Z","display_sequence":4,"target":"link"});
CS.Tracking.trackClicks("#autogen_id_for_tracking_place_ocrs_clicked_ocr_5", "place_ocrs_clicked_ocr", {"clicked_user_verification_status":"verified","clicked_user_couch_status":"maybe","clicked_user_has_profile_photo":true,"clicked_user_facebook_connected":false,"clicked_user_age":58,"clicked_user_sex":"several_people","clicked_user_live_location_full":"Holstebro, Central Denmark Region, Denmark","clicked_user_live_city":"Holstebro","clicked_user_live_state":"Central Denmark Region","clicked_user_live_country":"Denmark","clicked_user_live_latitude":"56.361534","clicked_user_live_longitude":"8.621727","clicked_user_joined_date":"2010-06-06T16:36:21Z","display_sequence":5,"target":"link"});
CS.Tracking.trackClicks("#autogen_id_for_tracking_place_ocrs_clicked_ocr_6", "place_ocrs_clicked_ocr", {"clicked_user_verification_status":"not_verified","clicked_user_couch_status":"maybe","clicked_user_has_profile_photo":true,"clicked_user_facebook_connected":false,"clicked_user_age":24,"clicked_user_sex":"male","clicked_user_live_location_full":"Birmingham, England, United Kingdom","clicked_user_live_city":"Birmingham","clicked_user_live_state":"England","clicked_user_live_country":"United Kingdom","clicked_user_live_latitude":"52.486243","clicked_user_live_longitude":"-1.890401","clicked_user_joined_date":"2013-05-15T20:27:12Z","display_sequence":6,"target":"link"});
CS.Tracking.trackClicks("#autogen_id_for_tracking_place_ocrs_clicked_more_1", "place_ocrs_clicked_more", {});
CS.Tracking.trackClicks("#autogen_id_for_tracking_place_sidebar_meet_people_button_clicked_1", "place_sidebar_meet_people_button_clicked", {});
});

        $(function () {
          $('input[placeholder], textarea[placeholder]').placeholder();
        });

// ]]>
    </script>

<script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f=function() {
NREUMQ.push(["load",new Date().getTime()]);
var e=document.createElement("script");
e.type="text/javascript";
e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" +
  "js-agent.newrelic.com/nr-100.js";
document.body.appendChild(e);
if(NREUMQ.a)NREUMQ.a();
};
NREUMQ.a=window.onload;window.onload=NREUMQ.f;
};
NREUMQ.push(["nrfj","beacon-6.newrelic.com","062bd2eae9","1081567","d1lWQRdaWlVdFxdJWVVVXUZKRl5WTw==",0,1637,new Date().getTime(),"","","","",""]);</script><script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f=function() {
NREUMQ.push(["load",new Date().getTime()]);
var e=document.createElement("script");
e.type="text/javascript";
e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" +
  "js-agent.newrelic.com/nr-100.js";
document.body.appendChild(e);
if(NREUMQ.a)NREUMQ.a();
};
NREUMQ.a=window.onload;window.onload=NREUMQ.f;
};
NREUMQ.push(["nrfj","beacon-6.newrelic.com","062bd2eae9","1081567","d1lWQRdaWlVdFxdJWVVVXUZKRl5WTw==",0,1645,new Date().getTime(),"","","","",""]);</script></body>
</html>
