
<!DOCTYPE html>
<html class="no-js root-places page-places action-show page-places-show root-places page-places action-show" data-logged-in="<%= @user.id %>" data-user-main-image="<%= cdn(@user.profile_image) %>">
  <%= render :partial => "#{@partial_base}/header" %>
  <body>
    <div id="viewport">
      <%= render :partial => "#{@partial_base}/nav" %>
      <div class="main-container-wrapper" id="main-content">
        <%= render :partial => "#{@partial_base}/place_subnav" %>
        <%= render :partial => "#{@partial_base}/place_avatar_header", :locals => { :place => @place, :subscription_options => @subscription_options } %>
        <section class="main-content container">
          <%= render :partial => "#{@partial_base}/featured_events", :locals => { :featured_events => @featured_events } %>
            <div class="row-fluid">
              <%= render :partial => "#{@partial_base}/conversations", :locals => { :place => @place, :conversation_categories => @conversation_categories, :form_authenticity_token => @form_authenticity_token, :conversation_tabs => @conversation_tabs, :comments => @comments } %>
</div>
            </div>
            <div class="span4">
              <div class="row-fluid" id="sidebar">
                <%= render :partial => "#{@partial_base}/events", :locals => { :trending_events => @trending_events, :place => @place, :total_event_count => @total_event_count, :upcoming_events => @upcoming_events } %>
                <div class="well big_groups_btn"><a class="link_button button" href="/n/o/groups" title="All Groups">All Groups</a></div>
                <%= render :partial => "#{@partial_base}/surfers" %>
                <%= render :partial => "#{@partial_base}/related_groups" %>
                <div class="well big_groups_btn"><a class="link_button button" href="/n/locals/in/place/13" id="autogen_id_for_tracking_place_sidebar_meet_people_button_clicked_1" title="Meet People">Meet People</a></div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <%= render :partial => "#{@partial_base}/main_footer" %>
      <%= render :partial => "#{@partial_base}/hidden_content", :locals => { :user => @user } %>
      <%= render :partial => "#{@partial_base}/footer_javascript" %>
</body>
</html>
