%li.thread.media{"data-commented-on-type" => "place", "data-creator-id" => comment.creator_id, "data-entity-id" => comment.entity_id, "data-thread-slug" => comment.slug.html_safe, "data-total-replies" => comment.total_replies}
  %a.avatar_link{:href => comment.creator_profile_link.html_safe}
    %span.pull-left.avatar.md_circle.imgsize_large_thumb{:style => "background-image:url(#{cdn(comment.creator_profile_image.html_safe)});"}
  .media-body
    %div
      %a{:href => comment.creator_profile_link.html_safe}
      .comment-text
        .comment-header.row-fluid
          .span12
            %h4
              %a.reply-title{:href => "/n/threads/#{comment.slug.html_safe}"}= comment.thread_title
              .comment-details
                %time{"data-component" => "timestamp", "data-original-timestamp" => comment.created_at.iso8601, :datetime => comment.created_at.iso8601}
            %span
              %a.reply-creator{:href => comment.creator_profile_link.html_safe}= comment.creator_name
            %span
              %a#autogen_id_for_tracking_place_conversations_send_private_message_1{:href => "/send_message.html?id=#{comment.creator_profile_encoded_id}", :style => "float: left; margin: 0 0.5em; color: #8B8B8B"}
                %img{:alt => "Private_message", :src => cdn("/assets/private_message-123bd0b0aee5c2e2a97dab4360915ad5.png")}/
        .row-fluid
          .span11
            .comment-body-text
              .more-link
                %span.shortened-text>= comment.short_text
                 
                %a.show-more-link= t('comment.more')
                %span.on-show-only
                  = comment.more_text
                  %a.show-less-link= t('comment.less')
            .thread-reply-view
              .thread_participants.hidden
                %span.show-reply-count
                  %a.reveal-comments{:rel => "11605597"}= t('comment.show_replies')
                - comment.replies[0..9].each do |reply|
                  %a.avatar_link{:href => reply.profile_link.html_safe}
                    %span.avatar.sm_circle.imgsize_small_thumb{:style => "background-image:url(#{cdn(reply.profile_image)});"}
                %span.last_replied_at
                  = t('comment.latest_reply')
                  %time{"data-component" => "timestamp", :datetime => comment.replies[-1].created_at.iso8601}
              .replies-and-form.inline
                .reply-container
                  .paginate_replies.hidden
                    %a.see-more-replies= t('comment.show_more', :num => comment.replies.length)
                  .replies{:id => "comments_on_#{comment.random_id}"}
                    = render :partial => "#{@partial_base}/comment_reply", :collection => comment.replies
                .media.thread-form-container.reply-thread
                  %span.thread-author.pull-left.avatar.circle.imgsize_small_thumb{:style => "background-image:url(#{cdn(comment.creator_profile_image)});"}
                  .media-body
                    %form.thread-reply-form{:action => "/n/threads/#{comment.slug.html_safe}/replies", :method => "post"}
                      %input{:name => "parent_id", :type => "hidden", :value => comment.id}/
                      .control-group
                        %label
                        .controls
                          %textarea.comment_text{:name => "comment_text", :placeholder => "Write a reply"}
                        %p.help-block
                      %p.privacy-warning= t('comment.privacy_warning')
                      .hide-when-colapsed.row-fluid
                        .row-fluid
                          .privacy-settings.dropdown{"data-component" => "privacySettings"}
                            %input{:name => "private_thread", :type => "hidden", :value => "true"}/
                            %a.dropdown-toggle{"data-component" => "dropdown", :href => ""}
                              %span.privacy-label
                              %i.icon-group
                            %ul.dropdown-menu.pull-right{"data-component" => "options"}
                              %li
                                %a{"data-component" => "privacyOption", "data-value" => "false", :href => ""}
                                  %i.icon-group
                                  = t('comment.public')
                              %li
                                %a{"data-component" => "privacyOption", "data-value" => "true", :href => ""}
                                  %i.icon-user
                                  = t('comment.private')
                          .span6
                          .buttons.span5.pull-right
                            .ajax_loading_container
                            = succeed "\u{a0}" do
                              %button.btn.btn-cancel{:type => "button"}= t('buttons.cancel')
                            %button.btn.btn-primary.btn-create= t('comment.post_reply')
                            %br/
                            %br/
                        .row-fluid
                          .form-footer.span12
                            .posting-guidelines
                              %h4= t('comment.posting_guidelines.header')
                              %ul
                                %li= t('comment.posting_guidelines.l1')
                                %li= t('comment.posting_guidelines.l2')
                                %li= t('comment.posting_guidelines.l3', :href => '/n/safety').html_safe
          .span1
            .comment-context-menu.dropdown.pull-right{"data-component" => "contextMenu", "data-entity_id" => comment.id, "data-entity_type" => "comment"}
              %a.dropdown-toggle{"data-component" => "dropdown", :href => ""}
                %span.icon-flyout.icon-large
              %ul.dropdown-menu.pull-right{"data-component" => "options"}
                %li
                  %a.share.get_link{:href => "/n/threads/#{comment.slug.html_safe}", :target => "_blank"}
                    %i.icon-mail
                    = t('comment.get_link')
                %li.divider
                %li{"data-visible-to" => "creator"}
                  %a.edit-comment{:href => ""}
                    %i.icon-pen
                    = t('comment.edit_this_post')
                %li{"data-visible-to" => "creator"}
                  %a.delete-comment{:href => ""}
                    %i.icon-close
                    = t('comment.delete_this_post')
                %li{"data-visible-to" => "non-creator"}
                  %a.report-trigger{:href => ""}
                    %i.icon-caution
                    = t('comment.flag_this_post')
