%ul#nav_explore_menu.menu_item
  %li.explore.menu_item
    %a#autogen_id_for_tracking_nav_home_clicked_1.button{:href => "/", :title => t('header.explore_menu.home')}
      %span{:translate => "yes"}= t('header.explore_menu.home')
  %li.find_a_couch.menu_item
    %a#autogen_id_for_tracking_nav_trips_clicked_1.button{:href => "/n/surfing", :title => t('header.explore_menu.surf')}
      %span{:translate => "yes"}= t('header.explore_menu.surf')
  %li.host_a_traveler.menu_item
    %a#autogen_id_for_tracking_nav_host_clicked_1.button{:href => "/n/hosting", :title => t('header.explore_menu.host')}
      %span{:translate => "yes"}= t('header.explore_menu.host')
  %li.global_events.menu_item
    %a#autogen_id_for_tracking_nav_events_clicked_1.button{:href => "/n/events", :title => t('header.explore_menu.events')}
      %span{:translate => "yes"}= t('header.explore_menu.events')
  %li.discuss.menu_item
    %a#autogen_id_for_tracking_nav_groups_clicked_1.button{:href => "/groups", :title => t('header.explore_menu.discuss')}
      %span{:translate => "yes"}= t('header.explore_menu.discuss')
  %li.help.menu_item
    %a#autogen_id_for_tracking_nav_help_clicked_1.button{:href => "/n/help", :title => t('header.explore_menu.help')}
      %span{:translate => "yes"}= t('header.explore_menu.help')
