<html>
    <head>
        <title>Local Variable Hell</title>
    </head>
    <body>
        <% 10_000.times do %>
            <%= v_a %>
            <%= v_b %>
            <%= v_c %>
            <%= v_d %>
            <%= v_e %>
            <%= v_f %>
            <%= v_g %>
            <%= v_h %>
            <%= v_i %>
            <%= v_j %>
        <% end %>
    </body>
</html>
